body { background: #d7ad96; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 15px; display: flex; }
.block-metrics-0 { color: #5ecab1; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #edce08; font-size: 19px; margin-bottom: 5px; }
.block-sms-2 { color: #99da1c; font-size: 14px; margin-bottom: 5px; }
.block-sms-3 { color: #52bc35; font-size: 21px; margin-bottom: 5px; }
.block-router-4 { color: #dac526; font-size: 16px; margin-bottom: 5px; }